# python
ruff
build
twine
ipython
python-dotenv

# internet
requests
html2text
duckduckgo-search

# cli
typer[all]

# data
duckdb>=0.9.1
ibis-framework[duckdb,polars,deltalake] @ git+https://github.com/ibis-project/ibis
xlsx2csv
XlsxWriter


# ai
openai<=1.0
marvin[ddg]~=1.3.0

# gui
#reflex

# docs
quartodoc
