# python
black
python-dotenv

# data + AI
ibis-framework[duckdb,polars,deltalake] @ git+https://github.com/ibis-project/ibis
ibis-birdbrain @ git+https://github.com/ibis-project/ibis-birdbrain
duckdb==0.8.1 # waiting on MotherDuck to support 0.9.0

# excel
xlsx2csv
XlsxWriter
